In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('dailyclimate.csv')

In [3]:
df = df.drop('Unnamed: 0', axis=1)

In [4]:
df['year'] = pd.to_datetime(df['Date']).dt.year
df['month'] = pd.to_datetime(df['Date']).dt.month
df['day'] = pd.to_datetime(df['Date']).dt.day

# convert int_type data into float_type
df['year'] = df['year'].astype(float) 
df['month'] = df['month'].astype(float) 
df['day'] = df['day'].astype(float)

In [5]:
df['Date'] = pd.to_datetime(df['Date'])
df.set_index('Date', inplace=True)

In [6]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
df['Location'] = encoder.fit_transform(df['District'])

In [7]:
place = df[['District', 'year', 'month', 'day']]
place

                District    year  month   day
Date
1981-01-01  Arghakhanchi  1981.0    1.0   1.0
1981-01-02  Arghakhanchi  1981.0    1.0   2.0
1981-01-03  Arghakhanchi  1981.0    1.0   3.0
1981-01-04  Arghakhanchi  1981.0    1.0   4.0
1981-01-05  Arghakhanchi  1981.0    1.0   5.0
...                  ...     ...    ...   ...
2019-12-27      Udayapur  2019.0   12.0  27.0
2019-12-28      Udayapur  2019.0   12.0  28.0
2019-12-29      Udayapur  2019.0   12.0  29.0
2019-12-30      Udayapur  2019.0   12.0  30.0
2019-12-31      Udayapur  2019.0   12.0  31.0

[883128 rows x 4 columns]

In [8]:
df = df.drop('District' , axis=1)
df

,Latitude,Longitude,Precip,Pressure,Humidity_2m,RH_2m,Temp_2m,WetBulbTemp_2m,MaxTemp_2m,MinTemp_2m,...,MinWindSpeed_10m,WindSpeedRange_10m,WindSpeed_50m,MaxWindSpeed_50m,MinWindSpeed_50m,WindSpeedRange_50m,year,month,day,Location
Date,,,,,,,,,,,,,,,,,,,,,
1981-01-01,27.9,83.2,0.00,93.51,4.81,45.41,13.89,2.15,20.82,9.94,...,0.69,3.14,2.41,4.12,0.73,3.39,1981.0,1.0,1.0,0
1981-01-02,27.9,83.2,0.00,93.59,4.94,46.78,13.84,2.54,20.70,9.54,...,1.09,1.50,2.25,3.30,0.96,2.34,1981.0,1.0,2.0,0
1981-01-03,27.9,83.2,0.03,93.55,5.22,47.91,14.33,3.32,20.71,10.78,...,0.48,2.32,2.32,3.54,0.39,3.15,1981.0,1.0,3.0,0
1981-01-04,27.9,83.2,0.02,93.49,5.36,50.83,13.82,3.73,20.43,10.02,...,1.06,2.49,2.90,4.05,0.93,3.12,1981.0,1.0,4.0,0
1981-01-05,27.9,83.2,1.84,93.49,5.84,55.55,13.76,4.93,19.62,9.08,...,0.69,2.02,2.74,4.64,0.96,3.68,1981.0,1.0,5.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-27,26.9,86.5,0.00,95.52,4.72,54.60,11.13,2.17,17.98,6.97,...,1.25,2.94,3.40,4.57,1.37,3.20,2019.0,12.0,27.0,61
2019-12-28,26.9,86.5,0.00,95.73,4.23,50.90,10.56,0.60,18.52,5.34,...,1.07,1.45,3.05,4.51,1.44,3.07,2019.0,12.0,28.0,61
2019-12-29,26.9,86.5,0.00,95.76,4.08,46.09,11.51,0.18,19.34,7.04,...,0.85,2.17,2.97,4.12,0.94,3.18,2019.0,12.0,29.0,61
2019-12-30,26.9,86.5,0.00,95.84,4.44,47.07,12.47,1.32,20.03,7.83,...,0.27,1.67,2.00,3.22,0.15,3.06,2019.0,12.0,30.0,61
2019-12-31,26.9,86.5,0.00,95.93,5.43,49.68,14.77,3.89,21.96,10.28,...,0.45,2.78,2.02,3.43,0.66,2.77,2019.0,12.0,31.0,61

In [9]:
got_para = ['Longitude', 'Latitude', 'Temp_2m', 'MaxTemp_2m', 'MinTemp_2m', 'Pressure', 'Humidity_2m', 'WindSpeed_10m']

In [10]:
df['pressure'] = df['Pressure']
df = df.assign()
df.loc[:,'Pressure'] = df['pressure']*100
df = df.drop('pressure', axis=1)
df

,Latitude,Longitude,Precip,Pressure,Humidity_2m,RH_2m,Temp_2m,WetBulbTemp_2m,MaxTemp_2m,MinTemp_2m,...,MinWindSpeed_10m,WindSpeedRange_10m,WindSpeed_50m,MaxWindSpeed_50m,MinWindSpeed_50m,WindSpeedRange_50m,year,month,day,Location
Date,,,,,,,,,,,,,,,,,,,,,
1981-01-01,27.9,83.2,0.00,9351.0,4.81,45.41,13.89,2.15,20.82,9.94,...,0.69,3.14,2.41,4.12,0.73,3.39,1981.0,1.0,1.0,0
1981-01-02,27.9,83.2,0.00,9359.0,4.94,46.78,13.84,2.54,20.70,9.54,...,1.09,1.50,2.25,3.30,0.96,2.34,1981.0,1.0,2.0,0
1981-01-03,27.9,83.2,0.03,9355.0,5.22,47.91,14.33,3.32,20.71,10.78,...,0.48,2.32,2.32,3.54,0.39,3.15,1981.0,1.0,3.0,0
1981-01-04,27.9,83.2,0.02,9349.0,5.36,50.83,13.82,3.73,20.43,10.02,...,1.06,2.49,2.90,4.05,0.93,3.12,1981.0,1.0,4.0,0
1981-01-05,27.9,83.2,1.84,9349.0,5.84,55.55,13.76,4.93,19.62,9.08,...,0.69,2.02,2.74,4.64,0.96,3.68,1981.0,1.0,5.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-27,26.9,86.5,0.00,9552.0,4.72,54.60,11.13,2.17,17.98,6.97,...,1.25,2.94,3.40,4.57,1.37,3.20,2019.0,12.0,27.0,61
2019-12-28,26.9,86.5,0.00,9573.0,4.23,50.90,10.56,0.60,18.52,5.34,...,1.07,1.45,3.05,4.51,1.44,3.07,2019.0,12.0,28.0,61
2019-12-29,26.9,86.5,0.00,9576.0,4.08,46.09,11.51,0.18,19.34,7.04,...,0.85,2.17,2.97,4.12,0.94,3.18,2019.0,12.0,29.0,61
2019-12-30,26.9,86.5,0.00,9584.0,4.44,47.07,12.47,1.32,20.03,7.83,...,0.27,1.67,2.00,3.22,0.15,3.06,2019.0,12.0,30.0,61
2019-12-31,26.9,86.5,0.00,9593.0,5.43,49.68,14.77,3.89,21.96,10.28,...,0.45,2.78,2.02,3.43,0.66,2.77,2019.0,12.0,31.0,61

In [11]:
use_df = df[got_para]
use_df

,Longitude,Latitude,Temp_2m,MaxTemp_2m,MinTemp_2m,Pressure,Humidity_2m,WindSpeed_10m
Date,,,,,,,,
1981-01-01,83.2,27.9,13.89,20.82,9.94,9351.0,4.81,1.89
1981-01-02,83.2,27.9,13.84,20.70,9.54,9359.0,4.94,1.72
1981-01-03,83.2,27.9,14.33,20.71,10.78,9355.0,5.22,1.80
1981-01-04,83.2,27.9,13.82,20.43,10.02,9349.0,5.36,2.18
1981-01-05,83.2,27.9,13.76,19.62,9.08,9349.0,5.84,1.96
...,...,...,...,...,...,...,...,...
2019-12-27,86.5,26.9,11.13,17.98,6.97,9552.0,4.72,2.38
2019-12-28,86.5,26.9,10.56,18.52,5.34,9573.0,4.23,2.03
2019-12-29,86.5,26.9,11.51,19.34,7.04,9576.0,4.08,2.01
2019-12-30,86.5,26.9,12.47,20.03,7.83,9584.0,4.44,1.44
2019-12-31,86.5,26.9,14.77,21.96,10.28,9593.0,5.43,1.59

In [12]:
# splitting data in 2 parts using array.split it uses location to split
# cannot split datetime into two samples so resetting index and spliting the table
# use_1, use_2 = np.array_split(use_df, 2)

useful_df = use_df.reset_index()
use_1 = useful_df.loc[:441563,:]
use_2 = useful_df.loc[441564:,:]

use_1.set_index('Date', inplace=True)
use_2.set_index('Date', inplace=True)

In [13]:
use_1.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 441564 entries, 1981-01-01 to 2019-12-31
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Longitude      441564 non-null  float64
 1   Latitude       441564 non-null  float64
 2   Temp_2m        441564 non-null  float64
 3   MaxTemp_2m     441564 non-null  float64
 4   MinTemp_2m     441564 non-null  float64
 5   Pressure       441564 non-null  float64
 6   Humidity_2m    441564 non-null  float64
 7   WindSpeed_10m  441564 non-null  float64
dtypes: float64(8)
memory usage: 30.3 MB

In [14]:
from sklearn.model_selection import train_test_split
x = use_1.drop(['Temp_2m'], axis=1)
y = use_1['Temp_2m']

# Split into training and testing sets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [15]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

# Initialize Random Forest Regressor
model = RandomForestRegressor(n_estimators=100, random_state=42)

# Train the model
model.fit(x_train, y_train)

# Make predictions
y_pred = model.predict(x_test)

# Evaluate the model
mse_1 = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse_1}")

Mean Squared Error: 0.07076477848119753

In [16]:
from sklearn.metrics import mean_absolute_error
mae_1 = mean_absolute_error(y_test, y_pred)
print(f"Mean Absolute Error: {mae_1}")

from sklearn.metrics import r2_score
r2 = r2_score(y_test, y_pred)
print(f"R-squared Score: {r2}")

Mean Absolute Error: 0.19231054431397415
R-squared Score: 0.9990842827223281

In [17]:
from sklearn.model_selection import train_test_split
x2 = use_2.drop(['Temp_2m'], axis=1)
y2 = use_2['Temp_2m']

# Split into training and testing sets
x2_train, x2_test, y2_train, y2_test = train_test_split(x2, y2, test_size=0.2, random_state=42)

In [18]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

# Initialize Random Forest Regressor
model_2 = RandomForestRegressor(n_estimators=100, random_state=42)

# Train the model
model_2.fit(x2_train, y2_train)

# Make predictions
y2_pred = model_2.predict(x2_test)

# Evaluate the model
mse_2 = mean_squared_error(y2_test, y2_pred)
print(f"Mean Squared Error: {mse_2}")

Mean Squared Error: 0.06198272219922323

In [19]:
from sklearn.metrics import mean_absolute_error
mae_2 = mean_absolute_error(y2_test, y2_pred)
print(f"Mean Absolute Error: {mae_2}")

from sklearn.metrics import r2_score
r2_2 = r2_score(y2_test, y2_pred)
print(f"R-squared Score: {r2_2}")

Mean Absolute Error: 0.17696066264309898
R-squared Score: 0.9993173399422826

In [28]:
useful_pred = use_2.reset_index()
compare = useful_pred.drop(['Date', 'Longitude', 'Latitude', 'MaxTemp_2m', 'MinTemp_2m', 'Pressure', 'Humidity_2m', 'WindSpeed_10m'], axis=1)
use2_pred = useful_pred.drop(['Temp_2m','Date'], axis=1)
use2_pred

,Longitude,Latitude,MaxTemp_2m,MinTemp_2m,Pressure,Humidity_2m,WindSpeed_10m
0,84.4,28.3,12.15,0.25,7759.0,3.47,1.76
1,84.4,28.3,11.10,1.71,7765.0,3.44,1.65
2,84.4,28.3,9.79,0.76,7760.0,3.87,1.63
3,84.4,28.3,8.74,-0.41,7749.0,3.95,1.81
4,84.4,28.3,7.51,-0.06,7748.0,4.13,1.65
...,...,...,...,...,...,...,...
441559,86.5,26.9,17.98,6.97,9552.0,4.72,2.38
441560,86.5,26.9,18.52,5.34,9573.0,4.23,2.03
441561,86.5,26.9,19.34,7.04,9576.0,4.08,2.01
441562,86.5,26.9,20.03,7.83,9584.0,4.44,1.44
441563,86.5,26.9,21.96,10.28,9593.0,5.43,1.59

In [32]:
compare.rename(columns={'Temp_2m':'Actual'}, inplace=True)
compare

        Actual
0         5.11
1         5.15
2         4.55
3         3.06
4         2.87
...        ...
441559   11.13
441560   10.56
441561   11.51
441562   12.47
441563   14.77

[441564 rows x 1 columns]

In [49]:
temp1 = model.predict(pd.DataFrame(use2_pred.loc[2]).T)
print(temp1)

[4.2763]

In [84]:
# actual data from use_2 table should be stored in actual table in compare dataframe and predicated value using use_1
# table should be stored in predicted table in compare dataframe

import random
no = []
for i in range(0,25):
    no.append(random.randrange(0,441564))

x=[]
for i in no:
    x.append(model.predict(pd.DataFrame(use2_pred.loc[i]).T))
    
predicted_temp = [round(float(x),2) for array in x for x in array]
predicted_temp

[-7.11,
 18.08,
 22.26,
 24.07,
 30.42,
 3.35,
 16.55,
 11.96,
 24.66,
 14.52,
 16.32,
 4.71,
 25.19,
 11.43,
 17.0,
 30.77,
 31.51,
 14.82,
 -2.04,
 16.93,
 9.8,
 19.8,
 18.82,
 15.64,
 24.24]

In [85]:
result = compare.loc[no]
result.reset_index()
result['Predicted'] = predicted_temp
result

        Actual  Predicted
91356    -7.18      -7.11
182718   17.77      18.08
373508   22.16      22.26
29122    23.82      24.07
309528   30.23      30.42
237461    3.54       3.35
41655    15.97      16.55
438997   11.53      11.96
221035   24.69      24.66
187278   14.43      14.52
381233   16.37      16.32
182272    4.47       4.71
349749   25.16      25.19
193170   11.45      11.43
2063     16.93      17.00
223680   30.93      30.77
59662    30.94      31.51
190000   14.62      14.82
85426    -2.17      -2.04
249420   16.82      16.93
137322    9.78       9.80
412955   19.72      19.80
177705   18.81      18.82
113864   15.65      15.64
132743   24.28      24.24